*{
    margin:0;
    padding:0;
}
body{
    text-align: center;
}
h1{
    margin-top: 50px;
}
.result{
    border: 3px solid #ff3333;
    margin: 0 auto;
    width: 300px;
    padding: 50px 0;
    border-radius: 16px;
    background-color: #fff5ee;
}
.resultNum{
    font-size: 50px;
}
.begin{
    border-radius: 28px;
    font-size: 50px;
    width: 200px;
    height: 100px;
    margin-top: 50px;
    outline:none;
    background-color: #40aa53;
    color: #fff;
}